<h1>Survey: <%= @survey.title %></h1>
<h1>Question: <%= @question.question %></h1>
<h3><%= @question.answer %></h3>

<p><%= link_to "Edit question", edit_survey_question_path(@survey, @question) %></p>
<p><%= link_to "Delete question", survey_question_path(@survey, @question),
                        :data => {:confirm => "Are you sure?",
                                       :method => "delete"} %></p>

<p><%= link_to "Return to survey", survey_path(@survey) %></p>
